<div>
  <br>
  <mat-card>
    <section class="mat-typography">
      <h3>Fahrenheit</h3>
    </section>
    <mat-divider></mat-divider>
    <br>

    <input type="text" value="100">

    <!-- <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="First Name" formControlName="firstName" #firstName>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Last Name" formControlName="lastName" #lastName>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Middle Name" formControlName="middleName" #mName>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Phone Number 1" formControlName="phoneNumber1" #phoneNumber1>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Phone Number 2" formControlName="phoneNumber2" #phoneNumber2>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Initial Contact Date" formControlName="initialContactDate" #initialContactDate>
      </mat-form-field>

      <mat-form-field class="field-full-width">
        <input matInput placeholder="Initial Contact Notes" formControlName="initialContactNotes" #initialContactNotes>
      </mat-form-field>

      <mat-divider></mat-divider>
      <br><br>

      <button mat-raised-button color="accent" routerLink={{backLink}}>Back</button>
      <button
        type="submit"
        (click)="addClient({
          firstName: firstName.value,
          lastName: lastName.value,
          phoneNumber1: phoneNumber1.value,
          initialContactDate: initialContactDate.value,
          initialContactNotes: initialContactNotes.value
        })"
        [disabled]="createForm.pristine || createForm.invalid"
        mat-raised-button
        color="primary"
      >Save</button>

    </form> -->
  </mat-card>
</div>
