<h3>{{title}}</h3>
<div>
  <img [src]="titleGraphicUrl" alt="Temperature Conversion (image)">
</div>

<input type="text" [ngModel]="label" (ngModelChange)="modifyLabel($event)">
<p>Label: {{label}}</p>

<app-celsius [temperatureInCelsius]=100 (temperatureUpdated)="temperatureUpdated($event, 'C')"></app-celsius>

<app-fahrenheit [temperatureInFahrenheit]="212" (temperatureUpdated)="temperatureUpdated($event, 'F')"></app-fahrenheit>

<button (click)="incrementClickCounter()">Click</button>
<p>Button was clicked {{clickCount}} times</p>

